language: php

dist: trusty

php:
  - 7.2

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.2

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
